{% extends "base.html" %}

{% block content %}
  <div class="navbar w-nav" data-animation="default" data-collapse="medium" data-contain="1" data-duration="400" style="background-color: transparent;">
    <div class="w-container">
      <a class="logo-block w-nav-brand" href="/"><img class="logo" sizes="(max-width: 479px) 61vw, (max-width: 767px) 121.34375px, 161.78125px" src="../static/images/oleo_logo_white_vector.png">
      </a>
      <nav class="nav-menu w-nav-menu" role="navigation">
        <div class="dropdown w-dropdown" data-delay="0">
          <a href="{% url 'home' %}"<div class="dropdown-toggle nav-link w-dropdown-toggle">
            <div>Home</div>
        </div></a>
        <div class="dropdown w-dropdown" data-delay="0">
          <a href="{% url 'cbdinfo' %}"><div class="dropdown-toggle nav-link w-dropdown-toggle">
            <div>Why Oleo CBD?</div>
          </div></a>
        </div>
        <div class="dropdown w-dropdown" data-delay="0">
          <a href="{% url 'products' %}"><div class="dropdown-toggle nav-link w-dropdown-toggle">
            <div>Products</div>
          </div></a>
        </div>
        <div class="dropdown w-dropdown" data-delay="0">
          <a href="https://shop.oleolife.com/"><div class="dropdown-toggle nav-link w-dropdown-toggle">
            <div>Shop</div></a>
          </div>
        </div>
        <div class="dropdown w-dropdown" data-delay="0">
          <a href="{% url 'about' %}"><div class="dropdown-toggle nav-link w-dropdown-toggle">
            <div>About</div>
          </div></a>
        </div>
      </nav>
      <div class="transparant-menu-button w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
  <div class="about-1 subpage-header">
    <div class="container w-container">
      <div class="w-row">
        <div class="about-column-left w-col w-col-6" data-ix="fade-in-on-load">
          <h2 class="smaller subpage-title">Our Story</h2>
          <div class="full page-subtitle">Founded in 2014 our company &amp; products are the result of several years of research and development that was undertaken by a couple of scientists with the goal to create a powdered THC that is safe, effective, and appealing to people.<br><br>We believe our patent pending process to create powdered THC is the embodiment of that vision, and in the future we hope to find Oleo’s line of powdered THC products across the nation</div>
        </div>
      </div>
    </div>
  </div>
  <div class="dark section">
    <div class="container w-container">
      <div class="full section-title-wrapper">
        <h2 class="section-title">We aim to inspire...</h2>
        <!-- <div class="section-description">A summary of my Job History and overall work experience.</div> -->
      </div>
      <ul class="experience-timeline-list w-list-unstyled">
        <li class="experience-timeline-list-item first">
          <div class="experience-icon-block first"><img class="experience-icon" sizes="22px" src="../static/images/Handshake-52.png">
          </div>
          <div class="experience-gradient-overlay"></div>
          <div class="experience-item-row w-row">
            <div class="experience-col-left w-col w-col-6">
              <div class="experience-title">Trust</div>
            </div>
            <div class="experience-col-right w-col w-col-6">
              <p class="experience-paragraph">We don’t believe the world can operate without trust, and it is our responsibility to uphold your trust in us. Every day we aim to further your trust in us.</p>
            </div>
          </div>
        </li>
        <li class="experience-timeline-list-item">
          <div class="experience-icon-block"><img class="experience-icon" src="../static/images/Mind-Map-50.png">
          </div>
          <div class="experience-item-row w-row">
            <div class="experience-col-left w-col w-col-6">
              <div class="experience-title">Innovation</div>
            </div>
            <div class="experience-col-right w-col w-col-6">
              <p class="experience-paragraph">Here at Oleo we strive to recognize problems in the market and solve them – we recognized the need for a novel way to make cannabis more effective, and safe for users.</p>
            </div>
          </div>
        </li>
        <li class="experience-timeline-list-item">
          <div class="experience-icon-block"><img class="experience-icon" sizes="22px" src="../static/images/Innovation-Filled-50.png">
          </div>
          <div class="experience-item-row w-row">
            <div class="experience-col-left w-col w-col-6">
              <div class="experience-title">Creativity</div>
            </div>
            <div class="experience-col-right w-col w-col-6">
              <p class="experience-paragraph">We are always looking for new creative ways to make cannabis more fun, and effective for you. We believe in making useful products that are fun to talk about, and share with others in a social way.</p>
            </div>
          </div>
        </li>
        <li class="experience-timeline-list-item">
          <div class="experience-icon-block"><img class="experience-icon" src="../static/images/Chat-Filled-50.png">
          </div>
          <div class="experience-item-row w-row">
            <div class="experience-col-left w-col w-col-6">
              <div class="experience-title">Understanding</div>
            </div>
            <div class="experience-col-right w-col w-col-6">
              <p class="experience-paragraph">We are always trying to make our products better for you. We take this aspect very seriously, and it requires us to be personable. Being personable is easy for us because we care.</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="section">
    <div class="centered container w-container">
      <div class="section-title-wrapper">
        <h2 class="section-title">Our Mission</h2>
        <div class="section-description">We hold ourselves to these standards everyday to create the best Powdered Cannabis product on the market...</div>
      </div>
      <div class="top-line-block">
        <div class="text-row w-row">
          <div class="text-column w-clearfix w-col w-col-3">
            <div class="text-column-title">To lead, and inspire novel innovation in the cannabis industry.</div>
          </div>
          <div class="text-column w-clearfix w-col w-col-3">
            <div class="text-column-title"> Run our facility with the same standards a pharmaceutical facility would have while maintaining our small company culture.</div>
          </div>
          <div class="text-column w-clearfix w-col w-col-3">
            <div class="text-column-title"> Always seek to improve and invent new things using cutting edge science, and provide people with safe, healthy products.</div>
          </div>
          <div class="last text-column w-clearfix w-col w-col-3">
            <div class="text-column-title">We believe in helping our local community – we strive to educated the public on safe use practices, and help prevent the underage use of cannabis.</div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>

  <div class="contact-section">
    <div class="contact-section-overlay">
      <div class="centered container w-container">
        <div class="section-title-wrapper">
          <h2 class="section-title">Contact us</h2>
          <div class="section-description">
            <br>Seattle, Washington
            <br>+1 877-545-6249
            <br>Support@cmrkinc.com</div>
        </div>
        <a class="outline-social-icon w-inline-block" href="http://www.facebook.com/oleolife"><img class="footer-small-social-icon" src="../static/images/Icon-facebook.png">
        </a>
        <a class="outline-social-icon w-inline-block" href="http://www.twitter.com/oleolife"><img class="footer-small-social-icon" src="../static/images/Icon-twitter_2.png">
        </a>
      </div>
    </div>
    <div class="contact-map w-widget w-widget-map" data-widget-latlng="47.6062,-122.3321" data-widget-style="roadmap" data-widget-zoom="12"></div>
  </div>

{% endblock %}
