{% extends "base.html" %}

{% block content %}
  <div class="navbar w-nav" data-animation="default" data-collapse="medium" data-contain="1" data-duration="400" style="background-color: transparent;">
    <div class="w-container">
      <a class="logo-block w-nav-brand" href="/"><img class="logo" sizes="(max-width: 479px) 61vw, (max-width: 767px) 121.34375px, 161.78125px" src="../static/images/oleo_logo_white_vector.png">
      </a>
      <nav class="nav-menu w-nav-menu" role="navigation">
        <div class="dropdown w-dropdown" data-delay="0">
          <a href="{% url 'home' %}"<div class="dropdown-toggle nav-link w-dropdown-toggle">
            <div>Home</div>
        </div></a>
        <div class="dropdown w-dropdown" data-delay="0">
          <a href="{% url 'cbdinfo' %}"><div class="dropdown-toggle nav-link w-dropdown-toggle">
            <div>Why Oleo CBD?</div>
          </div></a>
        </div>
        <div class="dropdown w-dropdown" data-delay="0">
          <a href="{% url 'products' %}"><div class="dropdown-toggle nav-link w-dropdown-toggle">
            <div>Products</div>
          </div></a>
        </div>
        <div class="dropdown w-dropdown" data-delay="0">
          <a href="#contact"><div class="dropdown-toggle nav-link black w-dropdown-toggle">
            <div>Contact Us</div>
          </div></a>
        </div>
        <div class="dropdown w-dropdown" data-delay="0">
          <a href="{% url 'about' %}"><div class="dropdown-toggle nav-link w-dropdown-toggle">
            <div>About</div>
          </div></a>
        </div>
      </nav>
      <div class="transparant-menu-button w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
  <div class="about-1 subpage-header">
    <div class="container w-container">
      <div class="w-row">
        <div class="about-column-left w-col w-col-6" data-ix="fade-in-on-load">
          <h2 class="smaller subpage-title">Our Story</h2>
          <div class="full page-subtitle">Founded in 2014, our company &amp; products are the result of several years of research and development that was undertaken with the goal of creating a technology for manufacturing powdered cannabinoids that are safe, effective, and appealing.<br><br>We believe our patent pending process is the embodiment of that vision. Learn more about the Oleo Process <a href="/cbdinfo/#process" style="text-decoration: underline;">here</a>.
</div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container w-container">
      <div class="full section-title-wrapper">
        <h2 class="section-title">We aim to inspire...</h2>
        <!-- <div class="section-description">A summary of my Job History and overall work experience.</div> -->
      </div>
      <ul class="experience-timeline-list w-list-unstyled">
        <li class="experience-timeline-list-item first">
          <div class="experience-icon-block first"><img class="experience-icon" sizes="22px" src="../static/images/Handshake-52.png">
          </div>
          <div class="experience-gradient-overlay"></div>
          <div class="experience-item-row w-row">
            <div class="experience-col-left w-col w-col-6">
              <div class="experience-title">Trust</div>
            </div>
            <div class="experience-col-right w-col w-col-6">
              <p class="experience-paragraph">We don’t believe the world can operate without trust, and it is our responsibility to uphold your trust in us. We take our business seriously because we know our partners do as well.</p>
            </div>
          </div>
        </li>
        <li class="experience-timeline-list-item">
          <div class="experience-icon-block"><img class="experience-icon" src="../static/images/Mind-Map-50.png">
          </div>
          <div class="experience-item-row w-row">
            <div class="experience-col-left w-col w-col-6">
              <div class="experience-title">Innovation</div>
            </div>
            <div class="experience-col-right w-col w-col-6">
              <p class="experience-paragraph">At Oleo we strive to recognize problems in the market and solve them. We saw the need for a novel way to make cannabis edibles more effective and safe for users, which pushed the creation of the Oleo Process.</p>
            </div>
          </div>
        </li>
        <li class="experience-timeline-list-item">
          <div class="experience-icon-block"><img class="experience-icon" sizes="22px" src="../static/images/Innovation-Filled-50.png">
          </div>
          <div class="experience-item-row w-row">
            <div class="experience-col-left w-col w-col-6">
              <div class="experience-title">Creativity</div>
            </div>
            <div class="experience-col-right w-col w-col-6">
              <p class="experience-paragraph">We are always looking for new methods of consuming cannabinoids that are easier, safer, and more fun. Our goal is to make unique products that are highly effective at delivering their active ingredients and taste amazing.</p>
            </div>
          </div>
        </li>
        <li class="experience-timeline-list-item">
          <div class="experience-icon-block"><img class="experience-icon" src="../static/images/Chat-Filled-50.png">
          </div>
          <div class="experience-item-row w-row">
            <div class="experience-col-left w-col w-col-6">
              <div class="experience-title">Understanding</div>
            </div>
            <div class="experience-col-right w-col w-col-6">
              <p class="experience-paragraph">We believe user feedback is crucial to designing products that fit our clients' needs. We take this aspect very seriously, and are always happy to hear from you. If you have a comment or suggestion, good or bad, <a href="#contact" style="text-decoration: underline;">please contact us.</a></p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="about-us-3 image-section" id="contact">
    <div class="image-section-overlay white-gradient">
      <div class="centered container w-container">
        <div class="section-title-wrapper">
          <h2 class="section-title"> We'd love to hear from you.</h2>
        </div>
        <div class="contact-column-left w-col w-col-6">
          <div class="contact-form-block w-form">
            <form action="{% url 'send_cbd' %}" method="POST" data-name="Email Form 5" id="wf-form-Email-Form" name="wf-form-Email-Form-5">
            {% csrf_token %}
            {% if messages %}
            <ul class="messages">
              {% for message in messages %}
              <li {% if message.tags %} class="{{ message.tags }}" {% endif %} style="list-style-type: none; font-size:medium; color:green; font-family: Montserrat, sans-serif;">{{ message }}</li>
              {% endfor %}
            </ul>
            {% endif %}
              <label class="field-label cbd" for="Name-5">Name:</label>
              <input class="dark-field w-input" data-name="name" id="Name-5" maxlength="256" name="name" required="required" type="text">
              <label class="field-label cbd" for="Email-3">Email:</label>
              <input class="dark-field w-input" data-name="email" id="Email-3" maxlength="256" name="email" required="required" type="email">
              <label class="field-label cbd" for="field">Message:</label>
              <textarea class="area dark-field w-input" data-name="message" id="Message-3" maxlength="5000" name="message" required="required"></textarea>
              <input class="button full-submit w-button" data-wait="Please wait..." type="submit" value="Send Email">
            </form>
          </div>
        </div>
        <div class="contact-column-right w-col w-col-6">
          <div class="contact-map-wrapper">
            <div class="contact-map-block w-widget w-widget-map" data-disable-scroll="1" data-disable-touch="1" data-widget-latlng="47.6062,-122.3321" data-widget-style="terrain" data-widget-zoom="8"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
