{% extends "base.html" %}

{% block content %}
  <div class="navbar w-nav" data-animation="default" data-collapse="medium" data-contain="1" data-duration="400" style="background-color: transparent;">
    <div class="w-container">
      <a class="logo-block w-nav-brand" href="/"><img class="logo" sizes="(max-width: 479px) 61vw, (max-width: 767px) 121.34375px, 161.78125px" src="../static/images/oleo_logo_black_vector.png">
      </a>
      <nav class="nav-menu w-nav-menu" role="navigation">
        <div class="dropdown w-dropdown" data-delay="0">
          <a href="{% url 'home' %}"><div class="dropdown-toggle nav-link w-dropdown-toggle">
            <div>Home</div>
        </div></a>
        <div class="dropdown w-dropdown" data-delay="0">
          <a href="{% url 'cbdinfo' %}"><div class="dropdown-toggle nav-link w-dropdown-toggle">
            <div>Why Oleo CBD?</div>
          </div></a>
        </div>
        <div class="dropdown w-dropdown" data-delay="0">
          <a href="{% url 'products' %}"><div class="dropdown-toggle nav-link w-dropdown-toggle">
            <div>Products</div>
          </div></a>
        </div>
        <div class="dropdown w-dropdown" data-delay="0">
          <a href="/#contact"><div class="dropdown-toggle nav-link black w-dropdown-toggle">
            <div>Contact Us</div>
          </div></a>
        </div>
        <div class="dropdown w-dropdown" data-delay="0">
          <a href="{% url 'about' %}"><div class="dropdown-toggle nav-link w-dropdown-toggle">
            <div>About</div>
          </div></a>
        </div>
      </nav>
      <div class="transparant-menu-button w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
  </div>

  <div class="portfolio subpage-header">
    <div class="container w-container">
      <h2 class="subpage-title" data-ix="fade-in-on-load">Providing you with the Highest Quality CBD Powder is Oleo's Mission</h2>
      <h4 data-ix="fade-in-on-load">(Press buttons below to explore Oleo's Advantage and Process)</h4>
      <a class="button green w-button" href="#advantage">Oleo Advantage</a><a class="button green w-button" href="#process" style="margin-left: 5px;">Oleo Process</a>
    </div>
  </div>

  <div id="advantage">
    <div class="section">
      <div class="container w-container">
        <div class="cta-row w-row">
            <div class="cta-title">The Oleo Advantage</div>
            <div class="cta-title subtitle">
            <ul class="checklist w-list-unstyled">
              <li class="checklist-item"><img class="check-icon" src="../static/images/Leaf-26.png">We strive to provide our customers with the highest quality products. Part of that mission is to help with education on the advantages of consuming CBD in its most effective form. We’ve created the graphic below to easily explain the differences between consuming water-soluble OleoCBD and typical oil forms of CBD. The difference is clear.</li><br/>
              <li class="checklist-item"><img class="check-icon" src="../static/images/Leaf-26.png">Our products use only organic, non-GMO CBD. They contain less than 0.001% THC and are completely non-psychoactive.</li>
            </ul><br/>
            <img src="../static/images/Oleo_Advantage.jpg">
            </div>
            <div class="cta-title subtitle">
            <ul class="checklist w-list-unstyled">
              <li class="checklist-item"><img class="check-icon" src="../static/images/Leaf-26.png">All our products make use of our patented encapsulation technology, which improves the effectiveness of your CBD, lowers the cost of your treatment, and provides exciting and delicious product types.</li><br/>
              <li class="checklist-item"><img class="check-icon" src="../static/images/Leaf-26.png">We’re confident you’ll experience the advantages that Oleo CBD provides. That’s why we’rewilling to back up our products with a 30-day, Money Back Guarantee. No questions asked. If you’re dissatisfied for any reason, simply contact us and we will arrange the rest. All we ask is that you cover shipping costs (unless you received our free shipping to begin with).</li></ul>
            </div>
      </div>
    </div>
  </div>
  </div>

  <div id="process">
    <div class="section">
      <div class="container w-container">
        <div class="cta-row w-row">
            <div class="cta-title">The Oleo Process</div>
            <div class="cta-title subtitle">
            <ul class="checklist w-list-unstyled">
              <li class="checklist-item"><img class="check-icon" src="../static/images/Leaf-26.png">This is the magic. The secret sauce. We’ve worked hard to perfect our patented encapsulation Oleo Process because we believed there was a better way to consume cannabinoids. We use specialized equipment to combine CBD with our Oleo Binder, thereby creating cold water-soluble CBD powder. This results in higher bioavailability, better flavor profiles, and very consistent dosing. </li><br/>
              <li class="checklist-item"><img class="check-icon" src="../static/images/Leaf-26.png">The Oleo Binder is comprised of a proprietary blend of carbohydrates, all of which are commonly used in food production and recognized as safe by the FDA.</li>
            </ul><br/>
            <img src="../static/images/Oleo_Process.jpg">
            </div>
            <div class="cta-title subtitle">
            <ul class="checklist w-list-unstyled">
              <li class="checklist-item"><img class="check-icon" src="../static/images/Leaf-26.png">Once encapsulated, we blend OleoCBD into our delicious drink mixes and provide it to manufacturers for use in developing their own products. Our goal is to share the benefits of water-soluble CBD and empower consumers to improve their wellness through the best possible products.</li><br/>
              <li class="checklist-item"><img class="check-icon" src="../static/images/Leaf-26.png">If you’d like to learn about how you can make use of the Oleo Process in your products then <a href="/#contact" style="text-decoration: underline;">contact us</a></li></ul><br/>
        </div>
      </div>
    </div>
  </div>
  </div>


{% endblock %}
