{% extends "base.html" %}

{% block content %}
<div class="navbar w-nav" data-animation="default" data-collapse="medium" data-contain="1" data-duration="400" style="background-color: transparent;">
    <div class="w-container">
      <a class="logo-block w-nav-brand" href="/"><img class="logo" sizes="(max-width: 479px) 61vw, (max-width: 767px) 121.34375px, 161.78125px" src="../static/images/oleo_logo_black_vector.png">
      </a>
      <nav class="nav-menu w-nav-menu" role="navigation">
      <div class="dropdown w-dropdown" data-delay="0">
          <a href="{% url 'home' %}"<div class="dropdown-toggle nav-link black w-dropdown-toggle" style="color:black;">
            <div>Home</div>
        </div></a>
        <div class="dropdown w-dropdown" data-delay="0">
          <a href="{% url 'cbdinfo' %}"><div class="dropdown-toggle nav-link black w-dropdown-toggle" style="color:black;">
            <div>Why Oleo CBD?</div>
          </div></a>
        </div>
        <div class="dropdown w-dropdown" data-delay="0">
          <a href="{% url 'products' %}"><div class="dropdown-toggle nav-link black w-dropdown-toggle" style="color:black;">
            <div>Products</div>
          </div></a>
        </div>
        <div class="dropdown w-dropdown" data-delay="0">
          <a href="/#contact"><div class="dropdown-toggle nav-link black w-dropdown-toggle" style="color:black;">
            <div>Contact Us</div>
          </div></a>
        </div>
        <div class="dropdown w-dropdown" data-delay="0">
          <a href="{% url 'about' %}"><div class="dropdown-toggle nav-link black w-dropdown-toggle" style="color:black;">
            <div>About</div>
          </div></a>
        </div>
      </nav>
      <div class="transparant-menu-button w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
  </div>

  <div class="portfolio subpage-header products">
    <div class="container w-container">
      <h2 class="subpage-title" data-ix="fade-in-on-load" style="font-size: 46px;">Products</h2>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="w-row">
        <div class="full-portfolio-column w-col w-col-4">            
          <div class="thumbnail">
            <div class="caption">
              <h5 class="section-title products">Tea Mixes</h5>
                <a href="https://shop.oleolife.com/collections/cbd-products/products/oleo-cbd-tea-mix" target="_blank"><div class="dropdown-toggle nav-link w-dropdown-toggle" style="border-width: 1px; border-style: solid; border-color: white; margin-bottom: 15px;">View Details</div></a>
                <p>Unwind and relax with our new natural tea blends. Drink your tensions away with the all natural effects of organic CBD.</p>
            </div>
            <h4 class="portfolio-overview-title">Tea Mixes</h4>
            <img src="../static/images/black-label-photo-realistic-mesh.png">
          </div>
        </div>   
        <div class="full-portfolio-column w-col w-col-4">            
          <div class="thumbnail">
            <div class="caption">
                <h5 class="section-title products">Coconut Water</h5>
                <a href="https://shop.oleolife.com/collections/cbd-products/products/oleo-cbd-coconut-water" target="_blank"><div class="dropdown-toggle nav-link w-dropdown-toggle" style="border-width: 1px; border-style: solid; border-color: white; margin-bottom: 15px;">View Details</div></a>
                <p>Loaded with electrolytes,vitamins, minerals. Our CBD Coconut Water allows your body to recover faster after a hard workout and provides a natural way to sooth sore muscles.</p>
            </div>
            <h4 class="portfolio-overview-title">Coconut Water</h4>
            <img src="../static/images/Oleo_whitelabel.png">
          </div>
        </div>
        <div class="full-portfolio-column w-col w-col-4">            
          <div class="thumbnail">
            <div class="caption">
                <h5 class="section-title products">OleoCBD Ready-to-Mix</h5>
                <a href="https://shop.oleolife.com/collections/cbd-products/products/oleocbd-ready-to-mix" target="_blank"><div class="dropdown-toggle nav-link w-dropdown-toggle" style="border-width: 1px; border-style: solid; border-color: white; margin-bottom: 15px;">View Details</div></a>
                <p>Oleo’s clean and clear Ready-to-Mix formulation allows you to add organic CBD to any drink or food with a simple scoop.</p>
            </div>
            <h4 class="portfolio-overview-title">Ready-to-Mix</h4>
            <img src="../static/images/Oleo_whitelabel.png">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bottom-line section">
    <div class="container w-container">
      <div class="cta-row w-row">
        <div class="cta-column-left w-col w-col-6">
          <div class="cta-title title">Oleo Advantage</div>
          <a href= "{% url 'cbdinfo' %}"><img src="../static/images/Oleo_Advantage.jpg"></a>
        </div>
          <div class="cta-column-right w-col w-col-6">
          <div class="cta-title title">Oleo Process</div>
          <a href= "{% url 'cbdinfo' %}"><img src="../static/images/Oleo_Process.jpg"></a>
        </div>
      </div>
    </div>
  </div>

  <div class="section tint">
    <div class="container w-container">
      <div class="cta-row w-row">
        <div class="cta-column-right w-col w-col-2"><a href="../contact/contact-1.html"><img src="../static/images/mbg.png" height="100"></a>
        </div>
        <div class="cta-column-right w-col w-col-10">
          <div class="cta-title subtitle">All OleoCBD products come with a 30-day, money back guarantee.</div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
