body {
/*    transition: all .5s;*/
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d5f0d4+0,7ede94+100 */
    /*background: rgb(213,240,212); /* Old browsers */
    /*background: -moz-linear-gradient(45deg,  rgba(213,240,212,1) 0%, rgba(126,222,148,1) 100%); /* FF3.6-15 */
    /*background: -webkit-linear-gradient(45deg,  rgba(213,240,212,1) 0%,rgba(126,222,148,1) 100%); /* Chrome10-25,Safari5.1-6 */
    /*background: linear-gradient(45deg,  rgba(213,240,212,1) 0%,rgba(126,222,148,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5f0d4', endColorstr='#7ede94',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-image: url("../images/Seattle.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
    color: black;
}

.navbar.underline {
  padding-bottom: 30px;
  border-bottom: 1px solid hsla(0, 0%, 100%, .2);
}

.navbar.with-color-button {
  padding-bottom: 30px;
  background-color: rgba(0, 0, 0, .1);
}

.navbar.white {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  /*padding-bottom: 30px;*/
  background-color: #fff;
  box-shadow: 0 0 33px 0 rgba(0, 0, 0, .2);
}

.logo-block {
  z-index: 10;
  max-width: 75px;
  margin-right: 30px;
}

.logo-block.no-menu {
  z-index: 0;
}

.nav-menu {
  z-index: 1;
  border-radius: 4px;
}

.nav-link {
  color: white;
  margin-right: 4px;
  padding-top: 11px;
  padding-bottom: 11px;
  border: 1px solid transparent;
  border-radius: 60px;
  background-color: transparent;
  -webkit-transition: background-color 200ms ease, border 200ms ease;
  transition: background-color 200ms ease, border 200ms ease;
  font-family: Montserrat, sans-serif;
  text-decoration: none;
}

.nav-link > a {
  color:white;
}

.nav-link:hover {
  border-color: rgba(255, 255, 255, .5);
  background-color: transparent;
}

.nav-link.dropdown-toggle {
  padding-right: 20px;
  text-decoration: none;
}

.nav-link.dropdown-toggle.w--open {
  background-color: rgba(0, 0, 0, .1);
}

.nav-link.dropdown-toggle.light {
  padding-right: 20px;
}

.nav-link.dropdown-toggle.thin-light {
  padding-right: 29px;
}

.nav-link.light {
  color: #fff;
}

.nav-link.light.w--current {
  border-color: rgba(255, 255, 255, .5);
}

.container {
    position: relative;
}

.about-column-left {
    float:left;
    padding-right: 0px;
    padding-bottom: 30px;
    padding-left: 0px;
    margin-top: 10%;
    text-align: center;
}

.about-column-right {
    padding-right: 0px;
    padding-bottom: 30px;
    padding-left: 0px;
    margin-top: 10%;
    text-align: center;
}

.subpage-title.smaller {
    font-family: Montserrat, sans-serif;
    padding-top: 70px;
    font-size: 30px;
}

.bigger {
  font-size: 40px;
  letter-spacing: -2px;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

.smaller {
  font-size: 28px;
}

.smaller.thc {
  color: #25A8DF;
}

.smaller.cbd {
  color: #00a939;
}
.page-subtitle {
  display: block;
  width: 20%;
  margin-top: 5px;
  margin-right: auto;
  margin-left: auto;
}

.page-subtitle.full {
  width: 60%;
}

.circle {
    margin-left: 25%;
    transition: background-color 0.2s ease;
    background: rgba(255,255,255,0.9);
    border-radius: 50%;
    height:250px;
    width:250px;
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .9);
}
.circle:hover{
    background-color: white;
}

@media (max-width: 479px) {
  body {
    background-repeat: no-repeat;
    height:100%;
    background-position: 0, 0, 50% 50%;
  }
  .about-column-left {
    padding-right: 0px;
    padding-bottom: 30px;
    padding-left: 0px;
  }
  .subpage-title.smaller {
    padding-top: 40px;
  }
  .circle{
    height: 200px;
    width: 200px;
  }
}
